body {
	background-color: wheat;
}

.top {
	display: flex;
	justify-content: left;
	background-image: url("img_resources/wood_background_light_wood.jpg");
	background-repeat: repeat;
	border-radius: 10px;
	margin-left: 10%;
	width: 1500px;
	height: 150px;
}

.logo {
	width: auto;
	height: 137px;
}

.logotext {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 70px;
	color: white;
}

.besttext {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 20px;
	color: teal;
}

.topclicks {
	display: flex;
	margin-left: 49%;
	justify-content: space-around;
	width: 150px;
	height: 50px;
}

.trolly {
	width: auto;
	height: 50px;
}

.table {
	display: flex;
	justify-content: center;
	margin-top: 17px;
	background-color: burlywood;
	width: 1060px;
	height: 765px;
}

.mid {
	display: flex;
	justify-content: center;
}

.book {
	width: 150px;
	height: auto;
	box-shadow: 10px 10px 15px black;
}

.bookbutton {
	box-shadow: 10px 10px 15px black;
}

.buttonspace {
	display: flex;
	justify-content: center;;
}

.blank {
	width: 150px;
}

.loginbox {
	background-image: url("img_resources/photo-1544716278-ca5e3f4abd8c.jpeg");
	display: flex;
	justify-content: center;
	margin-top: 17px;
	width: 1060px;
	height: 765px;
}

.user {
	margin-top: 15px;
	width: 150px;
	height: auto;
}

.userinput {
	
}