.one {
	font-size: 1vw;
	text-align: right;
}
.two {
	font-size: 1vw;
	text-align: center;
	font-weight: bold;
}
.three {
	font-size: 1vw;
	text-align: left;
	font-size: small;
}
.blank {
	width: 75px;
	height: 75px;
	background-color: white;
}
.othernon {
	width: 75px;
	height: 75px;
	background-color: #00ff00;
}
.noble {
	width: 75px;
	height: 75px;
	background-color: #00ffff;
}
.alkali {
	width: 75px;
	height: 75px;
	background-color: #ffa500;
}
.alkaliearth {
	width: 75px;
	height: 75px;
	background-color: #ffff00;
}
.metalloids {
	width: 75px;
	height: 75px;
	background-color: #90ee90;
}
.posttran {
	width: 75px;
	height: 75px;
	background-color: #8fbc8f;
}
.tran{
	width: 75px;
	height: 75px;
	background-color: #bdb76b;
}
.lan {
	width: 75px;
	height: 75px;
	background-color: #ff7f50;
}
.act {
	width: 75px;
	height: 75px;
	background-color: #f08080;
}
.img {
	display: flex;
	justify-content: center
}
body {background-color: white}